<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.SysPermission">
    <!--@mbg.generated-->
    <!--@Table `sys_permission`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="deep" jdbcType="INTEGER" property="deep" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="http_method" jdbcType="VARCHAR" property="httpMethod" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `id`, `parent_id`, `system`, `name`, `type`, `sort`, `deep`, `menu_url`, `icon`,
    `http_method`, `resource_name`, `status`, `creator`, `create_time`, `modifier`, `update_time`
  </sql>
  
  
<!--auto generated by MybatisCodeHelper on 2020-12-02-->
  <select id="selectById" resultMap="JoinResultMap">
    select
    <include refid="Join_Column_List"/>
    from `sys_permission`
    <where>
      <if test="id != null">
        and `id`=#{id,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  
  <sql id="Join_Column_List">
    <!--@mbg.generated-->
    sys_permission.id as sys_permission_id,
    sys_permission.parent_id as sys_permission_parent_id,
    sys_permission.system as sys_permission_system,
    sys_permission.name as sys_permission_name,
    sys_permission.type as sys_permission_type,
    sys_permission.sort as sys_permission_sort,
    sys_permission.deep as sys_permission_deep,
    sys_permission.menu_url as sys_permission_menu_url,
    sys_permission.icon as sys_permission_icon,
    sys_permission.http_method as sys_permission_http_method,
    sys_permission.resource_name as sys_permission_resource_name,
    sys_permission.status as sys_permission_status,
    sys_permission.creator as sys_permission_creator,
    sys_permission.create_time as sys_permission_create_time,
    sys_permission.modifier as sys_permission_modifier,
    sys_permission.update_time as sys_permission_update_time
  </sql>
  <resultMap id="JoinResultMap" type="com.example.demo.model.SysPermission">
    <!--@mbg.generated-->
    <id column="sys_permission_id" property="id"/>
    <result column="sys_permission_parent_id" property="parentId"/>
    <result column="sys_permission_system" property="system"/>
    <result column="sys_permission_name" property="name"/>
    <result column="sys_permission_type" property="type"/>
    <result column="sys_permission_sort" property="sort"/>
    <result column="sys_permission_deep" property="deep"/>
    <result column="sys_permission_menu_url" property="menuUrl"/>
    <result column="sys_permission_icon" property="icon"/>
    <result column="sys_permission_http_method" property="httpMethod"/>
    <result column="sys_permission_resource_name" property="resourceName"/>
    <result column="sys_permission_status" property="status"/>
    <result column="sys_permission_creator" property="creator"/>
    <result column="sys_permission_create_time" property="createTime"/>
    <result column="sys_permission_modifier" property="modifier"/>
    <result column="sys_permission_update_time" property="updateTime"/>
  </resultMap>
</mapper>